body{
  background: linear-gradient(#8F00FF, #9E1B32, #1560BD);
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-top: 20px;
  margin: 15px
}

h1 {
  font-family: "Press Start 2P", "Exo", sans-serif;
  position: relative;
  top: 10px;
}

div{
  font-family: "Exo", sans-serif;
  top: 5px;
}

.burger {
  font-size: 20px; 
}

.fries p {
  font-size: smaller;
}

p{
  font-family: "Exo", sans-serif;
  border:5px solid;
  width: 265px;
  height: 20px;
  border-radius: 5px;
  margin-top: 100px;
  margin-right: 970px;
}

img{
  border-radius: 10px;
  position: relative;
  top: 25px;
  left: 10px;
}

.fa-github{
  color: black;
  font-size: 40px;
  position: relative;
  left: 1750px;
  bottom: 65px;
}

.fa-bars{
  color: black;
  font-size: 40px;
  position: relative;
  bottom: 850px;
  left: 1825px;
}

@media (orientation: portrait) {
  .fa-bars {
    left: 430px;
    bottom: 925px;
  }
}

@media (orientation: portrait) {
  .fa-github {
    left: 410px; 
    bottom: 50px;
  }
}
